.box {
    width: 100px;
    height: 100px;
    background-color: rgba(65, 105, 225, 0.8);
    color: white;
}

.relative {
position: relative;
/* top: 200px; */
/* left: 200px */
right: 50px;
}

.absoulte {
position: absolute;
top: 0;
left: 0;
}

.parent {
    position: relative; 
}

.fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

    .sticky {
    position: sticky;
    top: 10px;
    left: 10px;
}