.hidden {
    /* display: none; */
    /* visibility: hidden; */
    /* width: 0;
    height: 0;
    font-size: 0;
    line-height: 0; */
    /* text-indent: -9999px; */
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}